
@media screen and (max-width: 820px) {
    .header {
        min-width: 160px;
        padding: 8px 4px;
        font-size: 18px;
    }

    .section {
        min-width: 160px;
        padding: 0px 0px;
        background-color: #fffdfa;
    }

    .navlinks {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        padding: 0 0px;
        gap: 0;
    }

    .navlink {
        font-size: 18px;
    }

    ul.navbar {
        display: flex;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    a {
        color: #e5e7eb;
        text-decoration: none;
        font-size: 18px;
    }
    .header-left {
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    /* Slideshow */
    .quote {
        font-size: 18px;
    }

  .mySlides {
    padding-top: 32px;
    padding-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }

.quote-author {
    margin-top: 1.5em;
    margin-right: 100px;
    /* margin-left: auto; */
    align-self: flex-end;
}

.quote-author-name {
    font-size: 14px;
    color: #fffdfa;
    font-weight: bold;
}
.quote-author-context {
    font-size: 14px;
    color: #fffdfa;
}

.dots-div {
    display: none;
}

/* Mission section */
.HeroMain.mission {
    color: white;
    font-size: 18px;
    /* margin-bottom: 32px; */
    font-weight: bolder;
    /* text-shadow: -0.5px -0.5px 0 gray, .5px -.5px 0 gray, -.5px .5px 0 gray, .5px .5px 0 gray; */
}

.HeroSecondary.mission {
    color: white;
    font-size: 14px;
    max-width: 85ch;
    text-align: center;
    /* text-shadow: -0.3px -0.3px 0 grey, .3px -.3px 0 grey, -.3px .3px 0 grey, .3px .3px 0 gray; */
    /* text-shadow: -0.3px -0.3px 0 darkgrey, .3px -.3px 0 darkgrey, -.3px .3px 0 darkgrey, .3px .3px 0 darkgrey; */
}

.section.one.mission {
    padding: 32px 32px;
}


}